@import '../../styles/colours.scss';

.Navigation {
  background-color: cadetblue;
  color: $color-primary-light;

  min-width: 250px;

  display: flex;
  flex-direction: column;

  .title-and-icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .nav-icon {
      &:hover {
        cursor: pointer;
        color: $color-primary-light-highlight;
      }
    }

    .title {
      padding-left: 20px;
    }
  }
}
