@import '../../styles/colours.scss';

.NavigationItem {
  color: $color-primary-light;
  cursor: pointer;

  text-decoration: none;
  font-weight: 400;

  &:hover {
    color: $color-primary-light-highlight;
    background-color: darken($color: cadetblue, $amount: 10);
    border-right: 5px solid darken($color: cadetblue, $amount: 20);
    font-weight: 500;
  }
}
