.Dashboard {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
}

.content-footer-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  min-height: 400px;
  flex-grow: 1;
}
