@import './../styles/variables.scss';

.Dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.content-footer-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .content {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    flex-grow: 1;
  }
}
